* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*--------------Index Page----------------*/

.navbar {
	background-image: linear-gradient(to right, #6A7EA8, #C6C7C4);
}

a.navbar-brand {
	font-family: 'Julius Sans One', sans-serif;
	padding: 5px;
	font-weight: bolder;
	font-size: 30px;
	padding: 10px;
}

.nav-link {
	font-family: 'Julius Sans One', sans-serif;
	font-size: 20px;
	color: black !important;
	letter-spacing: 2px;
}

li a:hover {
	background-color: #EEF0F2;
}

#caption1 {
	font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	color: black;
	font-weight: bolder;
	text-align: left;	
	bottom: 500px;
	text-shadow: 1px 1px 2px gray;
}

#caption2 {
	font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	color: black;
	font-weight: bolder;
	text-align: left;
	bottom: 500px;
	text-shadow: 1px 1px 2px gray;
}

#caption3 {
	font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	color: black;
	font-weight: bolder;
	text-align: left;
	bottom: 500px;
	text-shadow: 1px 1px 2px gray;
}

h5 {
	font-size: 20px !important; 
	font-weight: bolder !important;
}

/*---------------About Page---------------*/
.about-body {
	background-image: url("../images/cubes.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

.about {
	height: 100vh;
}

.about div {
	height: 100vh;
}

.about-text {
	background-color: rgba(106, 126, 168, 0.5);
	font-size: 2rem;
	text-align: center;
	padding: 20px;
	color: black;
}

h2 {
	text-align: center;
	margin: 0 10px;
}

p.gallery-text {
	text-align: justify;
	margin: 0 20px;
}

.wallpaper {
	margin: 20px 0;
	max-height: auto;
	width: 80%;
}

.gallery-heading-container {
	position: relative;
	top: 27%;
}

#gallery-section1 {
	background-image: linear-gradient(to right, #EEF0F2, #A2999E);
	height: 100vh;
	text-align: center;
}

#gallery-section2 {
	background-image: linear-gradient(to right, #6A7EA8, #C6C7C4);
}

#gallery-section3 {
	background-image: linear-gradient(to right, #EEF0F2, #A2999E);
}

#gallery-section4 {
	background-image: linear-gradient(to right, #C6C7C4, #6A7EA8);	
}

footer {
	text-align: center;
	background-image: linear-gradient(to right, #6A7EA8,#C6C7C4);
	padding: 20px;
	font-size: 15px;
	font-weight: bold;
}

/*--------------------------------Contact Page-------------------------------*/

.contact {
	background-image: linear-gradient(to right, #6A7EA8, #C6C7C4);
}

#form-button {
	float: right;
}

i {
	color: black;
}

i:hover {
	color: white;
}

iframe {
	height: 50%;
	width: 100%;
	border: none;
}